// Colors

$color-pink: #FF0B53;
$color-black: #111;

//fonts

$poppins: 'Poppins', sans-serif;

// font sizes
$size-h1: 4rem;
$size-h2: 2.2rem;
$size-h3: 2.4rem;
$size-p: 1.4rem;
$size-menu: 3rem;
$size-btn: 1.7rem;

//classes

.pink{
    color: $color-pink
}