// Colors

$color-pink: #FF0B53;
$color-black: #111;

//fonts

$poppins: 'Poppins', sans-serif;

// font sizes
$size-h1: 2.2rem;
$size-menu: 3rem;
$size-btn: 1.7rem;

//classes

.pink{
    color: $color-pink
}