// Colors

$color-pink: #FF0B53;
$color-black: #111;

//fonts

$poppins: 'Poppins', sans-serif;

// font sizes

:root{
    --size-h1: 4rem;
    --size-home: 2.2rem;
    --size-h2: 2.4rem;
    --size-p: 1.4rem;
    --size-menu: 3rem;
    --size-btn: 1.7rem;

    @include breakpoint(tablet-sm){
        --size-home: 3rem;
    }


    @include breakpoint(tablet-md){
    --size-h1: 5rem;
    --size-home: 3.5rem;
    --size-h2: 2.7rem;
    --size-p: 1.6rem;
    --size-btn: 2.2rem;
    }


}




//classes

.pink{
    color: $color-pink
}