// Global classes


.btn-menu{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-weight: 700;
    font-size: 1.7rem;
    padding: .2rem 2rem;
    font-family: $poppins;
  }

