
::-webkit-scrollbar {
    width: 10px;
    height: 7px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #111;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #FF0B53;
}
::-webkit-scrollbar-thumb:active {
    background: #FF0B53;
}
::-webkit-scrollbar-track {
    background: #f6f6f6;
    border: 0px none #ffffff;
    border-radius: 92px;
}
::-webkit-scrollbar-track:hover {
    background: #f6f6f6;
}
::-webkit-scrollbar-track:active {
    background: #f6f6f6;
}
::-webkit-scrollbar-corner {
    background: transparent;
}